html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #111;
    color: white;
    font-size: 1.6rem;
}


/* REUSABLE */
.container{
    width: 120rem;
    margin: 0 auto;
}
.section-heading{
    color: white;
    font-size: 3.2rem;
    margin-left: 2.4rem;
    margin-bottom: 4.8rem;
}
.grid{
    display: grid;
}
.grid-3-cols{
    grid-template-columns: repeat(3, 1fr);
    gap: 0.8rem;
}
.none{
    display: none;
}
.block{
    display: block;
}
input[type="checkbox"]{
    transform:scale(1.5);
}
.check{
    padding:3px;
    padding-right:8px;
    color:rgb(220, 109, 170);
    font-weight:600;
    font-size: 2rem;
}
.headset{
    height:3.2rem;
    width:3.2rem;
    margin-left:2rem;

}

/* HEADER */
.nav-el{
    transition: all 0.3s;
    font-size: 2rem;
    font-weight: 600;
}
.container-1{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.header{   
    /* position: fixed; */
    width: 98vw;
    background-color: rgb(17, 17, 17);
    z-index: 1;
    padding: 0px 3.2rem 0px 3rem;
}
h1{
    display: block;
    font-size: 3.2rem;
    margin-block-start: 1.072rem;
    margin-block-end: 1.072rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.navbar{
    display:flex;
    gap:2.88rem;
    /* justify-content: space-evenly; */
    color:white;
    font-size:1.6rem;
}
.hamburger-menu{
    display:none;
}
a{
    text-decoration: none;
    color:white;
    transition: all 0.3s;
}
a:hover{
    color:rgb(220, 109, 170);
}
.name{
    color:rgb(220, 109, 170);
}

/* CARDS */
.container-cards{
    width:120rem;
    margin: 0 auto;
    margin-top:5rem;
    padding: 3.2rem;
    overflow: hidden;
}
.col{
    background-color: #222;

    overflow: hidden;

    background-color:#1c1c1c;
    box-shadow: 0 0 0.8rem rgba(226, 44, 105,0.5);
    transition: all 0.4s;

}
.col-text{
    padding: 3.2rem;
    color: #bbb;
    line-height: 1.5;
}
.col:hover{
    transform: translateY(-0.6rem);
    box-shadow: 0 0 1.2rem rgba(226, 44, 105, 0.7);
}
.cards{
    row-gap: 4.8rem;
    column-gap: 4.8rem;
}
.product-img{
    width: 100%;
}
.prd-img-div{
    background-color: #eee;
    height: 64%;
    overflow: hidden;
}
.stats{
    /*  */
}
.price{
    color: white;
    margin-top: 0.4rem;
}
.filters{
    /* display: block; */
    margin-bottom: 4.8rem;
    display: flex;
    justify-content: space-around;
}
@media (max-width:800px){
    .navbar{
        display:none;
    }
    .hamburger-menu{
        display:block;
    }
    .slogan{
        font-size:4rem;
    }
    .slogan2{
        font-size:2rem;
    }
    #menu__toggle {
        opacity: 0;
     }
    #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
    }
    #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
    }
    #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
    }
    .menu__btn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
    }
    .grid-3-cols{
        display:block;
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
    }
    .menu__btn > span::before {
    content: '';
    top: -8px;
    }
    .menu__btn > span::after {
    content: '';
    top: 8px;
    }
    .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
    }
    .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
    }
    .menu__item:hover {
    background-color: #CFD8DC;
    }
    .hamburger-menu{
        z-index:1;
    }
    .name{
        margin-top:0;
        padding:0;
        margin-left:0;
        position:relative;
        bottom:10%;
    }
    .check{
        font-size:1.5rem;
        padding-right:1rem;
    }
    .container-cards{
        width:100%;
        margin-top:0.1rem;
    }
}

